*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#0f172a;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  color:white;
}

.app{
  width:420px;
  background:#111827;
  padding:20px;
  border-radius:10px;
}

h1{
  text-align:center;
  margin-bottom:15px;
}

.input-box{
  display:flex;
  gap:5px;
}

input, select{
  padding:8px;
  border:none;
  border-radius:5px;
}

button{
  padding:8px 10px;
  border:none;
  background:#38bdf8;
  cursor:pointer;
  border-radius:5px;
}

#searchInput{
  width:100%;
  margin-top:10px;
  padding:8px;
}

.filters{
  display:flex;
  justify-content:space-between;
  margin:10px 0;
}

.filters button{
  flex:1;
  margin:2px;
  background:#1f2937;
  color:white;
}

ul{
  list-style:none;
}

li{
  background:#1f2937;
  margin:8px 0;
  padding:10px;
  border-radius:6px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  cursor:grab;
}

.low{ border-left:4px solid green; }
.medium{ border-left:4px solid orange; }
.high{ border-left:4px solid red; }

.completed span{
  text-decoration:line-through;
  opacity:0.5;
}

.actions button{
  margin-left:5px;
  font-size:12px;
}